{%extends 'base.html'%}

{%block title%}
| Home Page
{%endblock%}

{%block content%}
<!-- <link rel="stylesheet" href="../static/css/styles.css"> -->
<link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">

<p>Hi {{user.user}}!</p>


{%for i in admins%}
{%if user.email == i.email%}

<p>Admin mode - On</p>

<a class="d-grid gap-2 mb-3 mt-3" href="{{url_for('products.add')}}">
    <button class="btn btn-primary" type="button">Add Product</button>
</a>
{%endif%}
{%endfor%}

<!-- <img src="../static/product_pics/{{producto.producto_name}}" alt="{{producto.producto_name}}"> -->

<!-- align-items-center -->
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
{%for producto in producto%}
    <div class="col mb-5">
        <div class="card h-100">
            <div class="col mb-5">
                <div class="card h-100 productito">
                        <!-- Product image-->
                        <!--  -->
                        <!-- <img src="{{url_for('static', filename = 'product_pics/{producto.producto_img}')}}" alt="{{producto.producto_img}}"> -->
                        <img src="../static/product_pics/{{producto.producto_img}}" alt="{{producto.producto_img}}" class="img">
                        
                        <!-- Product details-->
                        <div class="card-body p-4" style="font-family: Raleway;">
                            <div class="text-center border-bottom-dark">
                                <!-- Product name-->
                                <h4 class="fw-bolder name" style="font-weight: 300 !important;">{{producto.producto_name}}</h4>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                <div style="display: flex; justify-content: center;">
                                    <h4 class="precio">$<h4 class="price" id='price'>{{producto.producto_cst}}</h4></h4>
                                </div>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer pb-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center justify-content-space-evenly flex-column-f">
                                <a class="btn btn-outline-dark mt-auto" href='ProductInfo/{{producto.id}}'>More info</a>
                                <a class="btn btn-outline-dark mt-auto d-flex add-cart" href='javascript:void(0)' style="align-items: center;">
                                    <!-- <span class="material-icons-outlined color-span" style="color: rgba(255,255,255,.55);">
                                        shopping_cart
                                      </span> -->
                                      
                                    <span class="material-icons-outlined">
                                        add_shopping_cart
                                    </span>
                                
                                    <span> Add to Cart</span>
                                </a>                            
                            </div>
                        </div>

                        <div class="justify-content-space-evenly">
                            {%for i in admins%}
                                {%if user.email == i.email%}
                                <a class="d-grid gap-2 mb-3 mt-3" href="/EditProduct/{{producto.id}}">
                                    <button class="btn btn-primary" type="button">Edit Product</button>
                                </a>
                                <a class="d-grid gap-2 mb-3 mt-3" href="/DeleteProduct/{{producto.id}}">
                                    <button class="btn btn-primary" type="button">Delete Product</button>
                                </a>
                                {%endif%}
                            {%endfor%}

                        </div>
                    </div>
                </div>
            </div>
        </div>        
        {%endfor%}
    </div>

{%endblock%}